* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a {
   text-decoration: none;
}
html, body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.page4{
    display: flex;
    flex-direction: row;
}

/* Common styles for .page2 and .page1 */
.page2, .page1 {
    width: 100vw;
}

/* Styling for .page2 */
.page2 {
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.lower_tap {
    gap: 1vh;
}

.card {
    height: 80%;
    width: 30vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Styling for .page1 */
.page1 {
    height: 65vh;
    background-image: url(mobile_bg.jpg);
    background-position: center;
    background-size: 53vh;
    position: relative;
}

.page1::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.63);
}

.page1Content {
    padding: 20px 0 0px 10px;
    position: absolute;
    width: 100vw;
    height: 40vh;  
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.page1Button {
    position: relative;
    top: 50vh;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5vw;
    padding-left: 5vw;
}

.Button {     
    border: 3px solid #4D8175;
    border-radius: 3vw;
    height: 7vh;
    width: 15vh;
    background-color: rgba(0, 0, 0, 0.527);
}
.hamburger{
    display: block;

}
.hamburger {
    position: absolute;
	display: block;
	width: 45px;
	cursor: pointer;
	appearance: none;
	background:none;
	outline: none;
	border: none; 
    margin: 0 85vw;
    display: block;
    top:1.5vh;
    left:1mvw;
    color:wheat;
    z-index: 400;
    display: flex;
    flex-direction: column;
   align-items: center;
 
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 2vw;
	height: 2vw;
	background-color:white;
	margin: 1.2px 0;
	transition: 0.4s;
    z-index: 400;
    border-radius:55vw;

}



.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}
    
.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}
.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: rgba(0, 0, 0, 0.885);
	padding-top: 120px;
	transition: 0.4s;
    z-index: 400;
    display: flex;
    flex-direction: column;

}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
    font-size: 1.2rem;
	color: #FFF;
	text-decoration: none;
    font-family: sans-serif,"Nunito", sans-serif; 

}
.mobile-nav img{
    position: relative;
    top:1vh;
    right:2vh;
   
    width: 7vw;
}
.mobile-nav a:hover {
	background-color: #24104f;
}
@media ((min-width:322px) and (max-width:376px)) {
    .Button {
        height: 8vh;
        width: 18vh;
    }
    .hamburger{
        left:4.4vh;
    }
}

@media ((min-width:378px) and (max-width:427px)) {
    .Button {
        height: 9vh;
        width: 19vh;
    }
}

/* Styling for .page3 */
.page3 {
    height: 80vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.swiper {
    width: 95%;
    height: 95%;
    z-index: 100;
    position: absolute;
    top: 0px;
    border-radius: 4px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Additional media query for higher screen height mobile */
@media (max-width:426px) and (max-height:700px) and (min-height:600px) {
    /* Adjusted styles for .page2 and .page1 */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: poppins;
    }
    
    html, body {
        position: relative;
        height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    
    /* Common styles for .page2 and .page1 */
    .page2, .page1 {
        width: 100vw;
    }
    
    /* Styling for .page2 */
    .page2 {
        display: flex;
        flex-direction: column;
        height: 40vh;
    }
    
    .lower_tap {
        gap: 1vh;
    }
    
    .card {
        height: 80%;
        width: 30vw;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    /* Styling for .page1 */
    .page1 {
        height: 65vh;
        background-image: url(mobile_bg.jpg);
        background-position: center;
        background-size: 53vh;
        position: relative;
    }
    
    .page1::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(2, 2, 2, 0.63);
    }
    
    .page1Content {
        padding: 20px 0 0px 10px;
        position: absolute;
        width: 100vw;
        height: 40vh;  
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    
    .page1Button {
        position: relative;
        top: 50vh;
        height: 12vh;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5vw;
        padding-left: 5vw;
    }
    
    .Button {     
        border: 1px solid #4D8175;
        border-radius: 3vw;
        height: 7vh;
        width: 15vh;
    }
    
    @media ((min-width:322px) and (max-width:376px)) {
        .Button {
            height: 8vh;
            width: 18vh;
        }
    }
    
    @media ((min-width:378px) and (max-width:427px)) {
        .Button {
            height: 9vh;
            width: 19vh;
        }
    }
    
    /* Styling for .page3 */
    .page3 {
        height: 80vw;
        width: 100vw;
        display: flex;
        flex-direction: row;
       

    }
    .page4{
        display: flex;
        flex-direction: row;
    }
    
    .swiper {
        width: 95%;
        height: 95%;
        z-index: 100;
        position: absolute;
        top: 0px;
        border-radius: 4px;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .page6{
        height: 60vh;
    }
}
